# Source files
src

# Typescript configurations
tsconfig.json

# Test configurations
jest.config.js

# Data
_contents

# Node module dependencies
node_modules

# Others
.vscode
package-lock.json
coverage